#search {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 100px;
	left: auto;
	height: 100px;
}
#result {
	position :absolute;
	top: 80px;
	left: 310px;
	bottom: auto;
	right: auto;
	width: auto
}
#tabs {
	position: absolute;
	top: 80px;
	left: 5px;
	bottom: 200px;
	right: 310px;
	width: 300px;
	vertical-align: bottom;
}
#tabs input {
	display:none;
}
#menu, #hist {
	position: absolute;
	top: 110px;
	left: 5px;
	bottom: auto;
	right: 310px;
	width: 300px;
}
#menu-tab:checked ~ label {
	background-color: navy;
	color: white;
	font-weight: bold;
}
#menu-tab:checked ~ div {
	display: block;
}
#menu-tab ~ label {
	background-color: gray;
	color: white;
	font-weight: bold;
}
#menu-tab ~ div {
	display: none;
}
#hist-tab:checked ~ label {
	background-color: navy;
	color: white;
	font-weight: bold;
}
#hist-tab:checked ~ div {
	display: block;
}
#hist-tab ~ label {
	background-color: gray;
	color: white;
	font-weight: bold;
}
#hist-tab ~ div {
	display: none;
}

#searchform {
	border-style : none none solid none;
	border-color: black;
	border-width: 1px;
	padding: 1ex;
}
.expander {
	font-family: monospace;
	border: dotted 1px gray  ;
	cursor: pointer;
	margin: 0 5px 0 0;
}
.expander-triangle {
	font-size: x-small;
	cursor: pointer;
	background-color: blue;
	color: white;
}
.clickable {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.round-square {
	border-radius: 3px;
	border: solid 1px red;
	color:red;
	cursor: pointer;
}

table {
	border: 2px black solid;
	border-collapse: collapse;
}
tr {
	border: 1px black solid;
}
td, th {
	border: 1px black solid;
}
