#search {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 100px;
	left: auto;
	height: 100px;
}
#result {
	position :absolute;
	top: 80px;
	left: 310px;
	bottom: auto;
	right: auto;
	width: auto
}

#searchform {
	border-style : none none solid none;
	border-color: black;
	border-width: 1px;
	padding: 1ex;
}
.expander {
	font-family: monospace;
	border: dotted 1px gray  ;
	cursor: pointer;
	margin: 0 5px 0 0;
	color: black;
	background-color: white;
}
.expander-triangle {
	font-size: x-small;
	padding: 2px;
	cursor: pointer;
	background-color: blue;
	color: white;
}
.clickable {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.round-square {
	border-radius: 3px;
	border: solid 1px red;
	color:red;
	cursor: pointer;
}

table {
	border: 2px black solid;
	border-collapse: collapse;
}
tr {
	border: 1px black solid;
}
td, th {
	border: 1px black solid;
}

.menu input {
	display:none;
}

.menu li {
	list_item_style: none;
}

.menu_checkbox_label:after {
	content: "-"
}
.menu_checkbox:checked ~ .menu_checkbox_label:after {
	content: "+"
}

.sub_menu {
	display: block;
}

.menu_checkbox:checked ~ .sub_menu {
	display: none;
}

.tab_radio {
	display: none;
}
#menu_label, #menu {
	background-color: #f4fff4;
	color: black;
}
#hist_label, #hist {
	background-color: #f4f4ff;
	color: black;
}
#menu {
	display:none;
}
#menu_tab:checked ~ #menu {
	display:block;
}
#hist {
	display:none;
}
#hist_tab:checked ~ #hist {
	display:block;
}
#tabs {
	position: absolute;
	top: 30px;
	left: 5px;
	width: 290px;
	vertical-align: bottom;
}
.tab_sheet {
	position: absolute;
	top: 50px;
	left: 0px;
}
.tab_radio_label {
	position: absolute;
	top: 0px;
	width: 80px;
	height: 20px;
	text-align: center;
	font-size:smaller;
}
#menu_label {
	left:5px;
}
#hist_label {
	left:90px;
}
.tab_body {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 300px;
}

.item_detail_checkbox {
	display: none;
}

.item_detail_label:after {
	content: "▼";
}

.item_detail_checkbox:checked ~ .item_detail_label:after {
	content: "▲";
}
.item_detail_body {
	display: none;
}
.item_detail_checkbox:checked ~ .item_detail_body {
	display: block;
}

.tree_view_button:after {
	content: "Ｔ";
}
.tree_view_button {
	font-size: smaller;
	background-color: #060;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 15px;
	text-align: center;
}

.search_by_material_button:after {
	content: "Ｐ";
}
.search_by_material_button {
	font-size: smaller;
	background-color: #808;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 15px;
	text-align: center;
}

.search_by_harvest_button:after {
	content: "Ｈ";
}
.search_by_harvest_button {
	font-size: smaller;
	background-color: #cc0;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 15px;
	text-align: center;
}

.search_by_item_button:after {
	content: "Ｉ";
}
.search_by_item_button {
	font-size: smaller;
	background-color: #a00;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 15px;
	text-align: center;
}
